<header class="masthead back">
  <div id="page-title">
    <h1>&nbsp;Developers&nbsp;</h1>
  </div>
</header>

<!-- Begin Body -->
<div class="container" id="content">
  <div class="row">
    <div class="col-sm-12" id="main-content">
      <div class="imgbox1 well">
        <h1 id="developers" style="text-align: center;"><b>Developers</b></h1>
        <div class="imgcontainer">
          <img src="img/developers/nisheet.jpg">
          <p class="fstyle">Nisheet Sinvhal<br>
            <a href="https://github.com/ashniu123/"><span class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></span></a>
            <a href="https://linkedin.com/in/nisheet-sinvhal-33661b139/"><span class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></span></a></p>
        </div>
        <div class="imgcontainer" style="float: right;">
          <img src="img/developers/aashish.jpg">
          <p class="fstyle">Aashish Nehete<br>
            <a href="https://github.com/ashnehete/"><span class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/aashish-nehete-366828105/"><span class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></span></a></p>
        </div>
        <br>
        <div class="imgcontainer">
          <img src="img/developers/simran.jpg">
          <p class="fstyle">Simran Mhatre<br>
            <a href="https://github.com/simran-2797"><span class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/simran-mhatre-87aa13139/"><span class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></span></a></p>
        </div>
        <div class="imgcontainer" style="float: right;">
          <img src="img/developers/kevin.jpg">
          <p class="fstyle">Kevin Sijo<br>
            <a href="https://github.com/kevinsijo/"><span class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></span></a>
            <a href=""><span class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></span></a></p>
        </div>
      </div>
      <div class="imgbox well">
        <h1 id="initiators" style="text-align: center;"><b>Initiators</b></h1>
        <div style="width: 300px; height: 300px;margin:auto;">
          <img src="img/committee/16-17/chair.jpg">
          <p class="fstyle">Prem Raheja<br>Chairperson, ITSA 2017</p>
        </div>
        <div class="imgcontainer">
          <img src="img/committee/16-17/admin.png">
          <p class="fstyle">Ayesha Kazi<br>Admin, ITSA 2017</p>
        </div>
        <div class="imgcontainer" style="float: right;">
          <img src="img/committee/16-17/finance.png">
          <p class="fstyle">Abhishek Naik<br>Finance Head, ITSA 2017</p>
        </div>
        <br>
        <div class="imgcontainer">
          <img src="img/committee/16-17/technical.png">
          <p class="fstyle">Jaspreet Kaur Bhamra<br>Technical Head, ITSA 2017</p>
        </div>
        <div class="imgcontainer" style="float: right;">
          <img src="img/committee/16-17/creative.png">
          <p class="fstyle">Neeti Prabhupatkar<br>Creative Head, ITSA 2017</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-arr ></app-arr>
