<!-- Wrap all page content here -->
<header class="masthead back">
  <div id="page-title">
    <h1>&nbsp;Faculty&nbsp;</h1>
  </div>
</header>

<!-- Begin Body -->
<div class="container" id="content">
  <div class="row">
    <div class="col-sm-2 hidden-sm hidden-xs">
      <ul id="sidebar" class="nav nav-pills nav-stacked">
        <li><a href="./faculty#Teacher1">Dr. (Mrs.) Radha Shankarmani</a></li>
        <li><a href="./faculty#Teacher2">Prof. Kailas Devadkar</a></li>
        <li><a href="./faculty#Teacher3">Prof. Prasenjit Bhavathankar</a></li>
        <li><a href="./faculty#Teacher4">Prof. Rupali Sawant</a></li>
        <li><a href="./faculty#Teacher5">Prof. Sheetal Chaudhari</a></li>
        <li><a href="./faculty#Teacher6">Prof.Renuka Pawar</a></li>
        <li><a href="./faculty#Teacher7">Prof. Jignesh Sisodia</a></li>
        <li><a href="./faculty#Teacher8">Prof. Swapnali Kurhade</a></li>
        <li><a href="./faculty#Teacher9">Prof. Aparna Halbe</a></li>
        <li><a href="./faculty#Teacher10">Prof. Varsha Hole</a></li>
        <li><a href="./faculty#Teacher11">Prof. Nikahat Kazi</a></li>
        <li><a href="./faculty#Teacher12">Prof. Rashmi Deshmukh</a></li>
        <li><a href="./faculty#Teacher13">Prof. Rosy Bhardwaj</a></li>
      </ul>
    </div>
    <div class="col-sm-10" id="main-content">
      <div class="media well" id="Teacher1">
        <div class="media-body">
          <h3 class="media-heading">
            Dr. (Mrs.) Radha Shankarmani
            <br/>
            <h4>Dean of Quality Assurance & Head of Department</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">Ph.D (CSE) at JNTU, Hyderabad</span>
            <span class="list-group-item">Master of Engineering in Computer Science, NIT (Formerly REC), Trichy</span>
            <span class="list-group-item">Bachelors of Engineering in Electronics and communications, P.S.G. College of Technology, Coimbatore, Tamil Nadu</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Database Management Systems</span>
            <span class="list-group-item">MIS</span>
            <span class="list-group-item">Software Engineering & Testing</span>
            <span class="list-group-item">Software Testing</span>
            <span class="list-group-item">Software Architecture and OOAD</span>
            <span class="list-group-item">Software Project Management</span>
            <span class="list-group-item">Data Analytics</span>
            <span class="list-group-item">Business Intelligence& e-Business</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:radha_shankarmani@spit.ac.in"> radha_shankarmani@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher1.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher2">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Kailas Devadkar
            <br/>
            <h4>Dy. Head of Department</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">Pursuing Ph.D.</span>
            <span class="list-group-item">Master of Engineering in Information Technology</span>
            <span class="list-group-item">Bachelors of Engineering in Computer Engineering</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Operating Systems</span>
            <span class="list-group-item">Database Management System</span>
            <span class="list-group-item">Computer Networks</span>
            <span class="list-group-item">Cloud Computing</span>
          </div>
          <br><span class="fa fa-envelope-o"></span><a href="mailto:kailas_devadkar@spit.ac.in">
          kailas_devadkar@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher2.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher3">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Prasenjit Bhavathankar
            <br/>
            <h4>Associate Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">Ph.D. at School of Information Technology, IIT, Kharagpur</span>
            <span class="list-group-item">Master of Technology in Computer Engineering, VJTI, Mumbai</span>
            <span class="list-group-item">Bachelor of Engineering in Computer Engineering, WCE, Sangli</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Computer Networks</span>
            <span class="list-group-item">Wireless Ad-hoc Networks</span>
            <span class="list-group-item">Data structures and Algorithms</span>
            <span class="list-group-item">Object Oriented Analysis and Design</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:p_bhavathankar@spit.ac.in">
          p_bhavathankar@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher3.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher4">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Rupali Sawant
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.E.(Computer)</span>
            <span class="list-group-item">B.E.(Computer)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Computer Networks</span>
            <span class="list-group-item">Wireless Ad-hoc Networks</span>
            <span class="list-group-item">Data structures and Algorithms</span>
            <span class="list-group-item">Object Oriented Analysis and Design</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:rupali_sawant@spit.ac.in">
          rupali_sawant@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher4.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher5">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Sheetal Chaudhari
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.E.(Computer)</span>
            <span class="list-group-item">B.E.(Computer)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Wireless Networks</span>
            <span class="list-group-item">Convergence of Technologies and Networking in Communication</span>
            <span class="list-group-item">Information Storage Management and Disaster Recovery</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:sheetal_chaudhari@spit.ac.in"> sheetal_chaudhari@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher5.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher6">
        <div class="media-body">
          <h3 class="media-heading">
            Prof.Renuka Pawar
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.E.(Computer)</span>
            <span class="list-group-item">B.E.(Computer)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">System and Web Security</span>
            <span class="list-group-item">Computer networking</span>
            <span class="list-group-item">Digital Forensics</span>
            <span class="list-group-item">Computer Graphics and Virtual Reality Systems</span>
            <span class="list-group-item">Software Testing & Quality Assurance</span>
          </div><span class="fa fa-envelope-o"></span><a href="mailto:renuka_pawar@spit.ac.in"> renuka_pawar@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher6.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher7">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Jignesh Sisodia
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.Tech.(Computer)</span>
            <span class="list-group-item">B.E.(Computer)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Digital Signal & Image Processing</span>
            <span class="list-group-item">Multimedia Systems</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:jsisodia@spit.ac.in"> jsisodia@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher7.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher8">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Swapnali Kurhade
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.Tech (Computer Science & Engineering)</span>
            <span class="list-group-item">B.E (Computer Science & Engineering)</span>
          </div>
          <!--<div class="list-group">
              <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
              <span class="list-group-item"></span>
              <span class="list-group-item"></span>
          </div>-->
          <span class="fa fa-envelope-o"></span><a href="mailto:swapnali.kurhade@spit.ac.in"> swapnali.kurhade@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher8.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher9">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Aparna Halbe
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.E.(Computer Science)</span>
            <span class="list-group-item">B.E.(Information Technology)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Big Data Analytics</span>
            <span class="list-group-item">Neural Networks</span>
            <span class="list-group-item">Analysis of Algorithms</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:aparna_halbe@spit.ac.in"> aparna_halbe@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher9.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher10">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Varsha Hole
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.Tech.(Computer)</span>
            <span class="list-group-item">B.E.(Computer)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Distributed Databases</span>
            <span class="list-group-item">Distributed Systems</span>
            <span class="list-group-item">Cryptography and System security</span>
            <span class="list-group-item">Big Data & Analytics</span>
          </div>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher10.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher11">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Nikahat Kazi
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.E. (Computer Engineering)</span>
            <span class="list-group-item">B.E. (Computer Engineering)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Neural Networks</span>
            <span class="list-group-item">Fuzzy Systems</span>
            <span class="list-group-item">Genetic Algorithms</span>
            <span class="list-group-item">Computer Programming</span>
            <span class="list-group-item">Web Designing</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:nikahat_kazi@spit.ac.in"> nikahat_kazi@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher11.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <h2>ADHOC STAFF</h2>
      <div class="media well" id="Teacher12">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Rashmi Deshmukh
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.E. (Computer Engineering)</span>
            <span class="list-group-item">B.E. (Information Technology)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Open Source Operating System (Linux)</span>
            <span class="list-group-item">C Programming</span>
            <span class="list-group-item">Cloud Computing</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:rashmi_deshmukh@spit.ac.in">rashmi_deshmukh@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher12.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher13">
        <div class="media-body">
          <h3 class="media-heading">
            Prof. Rosy Bhardwaj
            <br/>
            <h4>Assistant Professor</h4>
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">M.Tech (Electronics & Telecommunications)</span>
            <span class="list-group-item">B.Tech (Electronics & Telecommunications)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Industrial Automation</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:rosy_bhardwaj@spit.ac.in"> rosy_bhardwaj@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher13.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <h2>TECHNICAL STAFF</h2>

      <div class="media well" id="Teacher15">
        <div class="media-body">
          <h3 class="media-heading">
            Smt. Neha Rajurikar
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">Pursuing M.E. (Electrical)</span>
            <span class="list-group-item">B.E. Electrical</span>
            <span class="list-group-item">Diploma in Computer</span>
          </div><div class="list-group">
          <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
          <span class="list-group-item">Cloud Computing</span>
          <span class="list-group-item">DBA Security Administrator</span>
          <span class="list-group-item">Windows System Administrator</span>
          <span class="list-group-item">Networking</span>
        </div>

          <span class="fa fa-envelope-o"></span><a href="mailto:neha_rajurikar@spit.ac.in"> neha_740@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher15.jpg" alt="Teacher">
          </a>
        </div>
      </div>
      <div class="media well" id="Teacher14">
        <div class="media-body">
          <h3 class="media-heading">
            Shri. Venkat Islur
          </h3>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Education -</i></h4>
            <span class="list-group-item">B.Sc, Diploma in Computer (D.C.S.T.)</span>
          </div>
          <div class="list-group">
            <h4 class="list-group-heading"><i>Technical Excellence -</i></h4>
            <span class="list-group-item">Cloud Computing</span>
            <span class="list-group-item">Networking & Field Engineering (CMS)</span>
            <span class="list-group-item">SuSE Linux</span>
          </div>
          <span class="fa fa-envelope-o"></span><a href="mailto:venkat_islur@spit.ac.in"> venkat_islur@spit.ac.in</a>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object img-thumbnail" src="../assets/img/faculty/teacher14.jpg" alt="Teacher">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-arr></app-arr>
