
<!-- Wrap all page content here -->
<header class="masthead index">
  <div id="title">
    <span>Information Technology Student Association</span>
    <div id="space"></div>
    <div id="div1">
      <p>
        <a href="./home#text1" id="icon1" style="color: white; top:80%;">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
      </p>
    </div>
  </div>
</header>
<!-- Begin Body -->
<div class="container" id="content">
  <div class="row">
    <div class="col-md-8">
      <p class="text-justify" id="text1">
        The Information Technology Students Association first came into being in 2004 as a group of students coming together to represent the interest of the IT department and enrich their 4 years in engineering. The association has evolved over the years with
        numerous ideas being incorporated every year, setting milestones for the following batches to come. Now in 2016-2017 a group of 5 individuals with common interest for their department, has taken up the responsibilities of making a difference
        to the department that has become a part of their lives.
      </p>
    </div>
    <div class="col-md-4">
      <img src="img/itsa-logo-plain.png" width="100%">
    </div>
  </div>
</div>
<app-arr></app-arr>


