/***********General**********/
html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #ECECEC;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', 'Roboto', sans-serif;

}

/*******button styling*******/

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*!*****Navbar******!*/

nav[aria-label="Announcements Pager"] {
    box-shadow: none;
}

.navmenu {
    padding-top: 50px;
}

.navbar {

    display: block;
    background-color: black;
    /*text-align: center;*/
}

.navbar-brand {
    display: inline-block;
    /*float: none;*/
}

.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
}

.affix-top {
    position: static;
}

.affix {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.dropdown-menu-cols-2 {
    min-width: 400px;
}

@media screen and (max-width: 767px) {
    .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
        margin-left: 0;
    }
    .navbar-collapse li a{ text-indent:15px; }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 80%;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        border-right: 1px solid black;
        z-index: 10;
    }

}

@media screen and (max-width: 991px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s;
    }

    .side-collapse-container.out {
        /*left:200px; If u want Push effect*/
    }
    .navbar-collapse li a{ text-indent:15px; }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 80%;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        border-right: 1px solid black;
        z-index: 10;
    }

    .not-top {
        top: 0 !important;
    }

    .side-collapse.in {
        width: 0;
    }

    #miniNav {
        overflow-y: scroll;
    }

    .noscroll {
        position: fixed;
        overflow: hidden;
    }

    .icon-bar {
        width: 22px;
        transition: all 0.4s;
    }

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    #mastHeadBrand h1 {
        font-size: 3.1rem;
    }

}

@media screen and (max-width: 1212px) {

    .extend-input {
        width: 76vw !important;
    }

    .nav > li > a {
        padding: 10px 10px;
    }

    .navbar-right {
        position: relative;
        left: -5%;
    }
}

@media screen and (max-width: 946px) {
    .nav > li > a {
        padding: 10px 8px;
    }
}

@media screen and (max-width: 896px) {
    .nav > li > a {
        padding: 10px 4.5px;
    }
}

@media screen and (max-width: 840px) {
    .nav > li > a {
        padding: 10px 2px;
    }
}

@media screen and (max-width: 800px) {
    .nav > li > a {
        padding: 10px 0;
    }
}
/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
    .navbar-collapse li a{ text-indent:15px; }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 96%;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        border-right: 1px solid black;
        z-index: 10;
    }


}




.navbar .navbar-form {
    padding: 0;
    margin: 0;
}

/***********Main**********/

.pushDown {
    margin-top: 80px;
}

#wrapper {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.opaque {
    height: 100%;
    width: 0;
    /*position: fixed;*/
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: rgb(0,0,0);*/
    background-color: rgba(0, 0, 0, 0.9);
    /*overflow-x: hidden;*/
    transition: 0.5s;
}

img {
    width: 40%;
    height: auto;
}

.img-centered {
    min-height: 150px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white-panel {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #eee;
    padding: 10px;
}

/***Footer***/
footer {
    background-color: #111;

}

/* Fix bootstrap */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    background: none;
    color: black;
}

.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:active {
    background: none;
    color: #555;
}

.heading {
    font-family: "Lato Light", helvetica neue, helvetica, arial, sans-serif;
    color: black;
    font-weight: bolder;
    align-content: center;
}

/***************/
/*box-shadow: 0 0 15px #FFA500;*/
/*******Scroll-top*******/

.scroll-top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    background: #b8bbc2;
    font-size: 24px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.scroll-top a:link, .scroll-top a:visited, .scroll-top a:hover {
    color: #222;
    border-radius: 50%;
    padding: 8px 13px;
}

.scroll-top a:focus {
    outline: none;
}

/*********Bootstrap3 Flexbox**********/
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*************Collapse change***************/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        /*display: block !important;*/
    }

    .collapsing {
        overflow: hidden !important;
    }

    #homeIcon {
        display: none;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }

}
