/* You can add global styles to this file, and also import other style files */
/***********General**********/
html, body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  background:#e1e1e1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', 'Roboto', sans-serif;
}

/*******button styling*******/

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}




/*!*****Navbar******!*/

.navmenu {
  padding-top: 50px;
}

.navbar {

  display: block;
  /*text-align: center;*/
}
.navbar-brand {
  display: inline-block;
  /*float: none;*/
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.affix-top {
  position: static;
}

.affix {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
/***********Main**********/

.disabled {
   pointer-events: none;
   cursor: default;
}

a{
  color : inherit;
}

.pushDown {
  margin-top: 80px;
}

#wrapper {
  box-shadow:0 0 8px rgba(0,0,0,0.25);
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*
stylize any heading tags withing white-panel below
*/
.white-panel{
  background: #fff;
  /*box-shadow:0 0 8px rgba(0,0,0,0.25);*/
  border: 2px solid #eee;
  padding: 10px;
}


/***Footer***/
footer { background-color:#000; min-height:100px; font-family:  'Fira Sans', 'Roboto', sans-serif;color: cyan }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:5px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}


