/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Lato', serif;
  font-weight: 300;
}

.HIP{
  display: none;
  display: none;
}

.navbar-nav>li>a:hover{
  border-bottom: solid;
  border-color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
  color: white;
  border-bottom: solid;
  border-color: rgb(47, 148, 249);
}

.masthead {
  background-size: cover;
  color: white;
}

.index{
  background-image: url("assets/img/laptop.jpg");
  background-position: center center;
}

.back{
  background-image: url("assets/img/back.jpg");
}
#main-content{
  border-left: 3px solid rgb(47, 148, 249);
}
header {
  height: 280px;
}
hr
{
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px rgb(47, 148, 249) inset;
}
.navbar {
  background-color: transparent;
  transition: background-color 1s ease;
  border: none;
}

.navbar:hover {
  background-color: black;
  transition: background-color 1s ease;
  border: none;
}

.darkNav {
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 1s ease;
}

.navbar-default .navbar-nav>li>a {
  opacity: 1;
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  opacity: 1;
  color: rgb(47, 148, 249);
}

.leftNavbar {
  padding-right: 50px;
  transition: padding-right 0.5s linear;
}

.rightNavbar {
  padding-left: 50px;
  transition: padding-left 0.5s linear;
}

.itsa-logo {
  background-image: url('assets/img/itsa-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-left: -2%;
  position: fixed;
  top: 15px;
  left: 47.5%;
  z-index: 1050;
  animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  /* Firefox */
  -webkit-animation: fadeIn 1s;
  /* Safari and Chrome */
  -o-animation: fadeIn 1s;
  /* Opera */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* Firefox */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* Opera */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#content {
  margin-top: 25px;
  min-height: 300px;
}

#page-title>h1 {
  font-size: 3em;
  font-style: italic;
}

#page-title>h1::before {
  content: "-------- ";
  letter-spacing: -7px;
}

#page-title>h1::after {
  content: "-------- ";
  letter-spacing: -7px;
}

#page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  height: 90px;
  background-color: #f5f5f5;
  margin-top: 50px;
  padding: 10px;
}

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 6%;
  z-index: 100;
  background: #b8bbc2;
  font-size: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.scroll-top a:link, .scroll-top a:visited {
  color: #222;
}

.nav>li>a:hover{
  background-color: rgb(47, 148, 249);
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.scroll-top a:focus {
  outline: none;
}


@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  #sidebar.affix-top {
    position: static;
  }
  #sidebar.affix-bottom {
    position: absolute;
  }
  #sidebar.affix {
    position: fixed;
    top: 80px;
    width: 13%;
    height: 85%;
    overflow-y: scroll;
    /*weird but still*/
  }
  #sidebar{
    font-size: 17px;
  }
}

@media (max-width: 1001px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }

  .navbar-default .navbar-nav li{
    /*display: inline-block;*/
    text-align: center;
  }
  .nav>li>a{
    padding: 10px;
    margin: 0px auto;
  }
}

@media (max-width:768px) {
  #ITSA {
    display: none;
  }
  .rightNavbar{
    padding-left: 0;
  }
  .leftNavbar{
    padding-right: 0;
  }

}

.spacer{
  width: 100%;
  margin-top:200px;
}
