<main class="container-fluid side-collapse-container">
  <!--Main jumbotron for a primary marketing message or call to action -->
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xs-12 white-panel">
          <h2 class="page-header">APPROVALS</h2>
          <div class="align">
            <p>As defined in the AICTE act 1987, Technical Education means programs, of Education, Research, and training in Engineering and Technology, Architecture, Town Planning, Management, Pharmacy, and Applied Arts and Crafts, and such other programs or areas as the Central Government may in consultation with the Council, by notification in the official gazette declare.</p>
            <p><b>Technical Education in India</b> has a history stretching back to the ancient urban centres of learning at Taxila and Nalanda. Western education became ingrained into Indian society with the establishment of the British Raj. Education in India falls under the control of both the Union Government and the states, with some responsibilities lying with the Union and the states having autonomy for others. The various articles of the Indian constitution provide for education as a fundamental right. Most universities in India are Union or State Government controlled.</p>

            <p>India has made a huge progress in terms of increasing primary education attendance rate and expanding literacy to approximately two thirds of the population. India's improved education system is often cited as one of the main contributors to the economic rise of India. Much of the progress in education has been credited to various private institutions. The private education market in India is estimated to be worth $40 billion in 2008 and will increase to $68 billion by 2012.</p>


          </div>

        </div>
        <div class="col-xs-12 white-panel">
          <h3 class="page-header text-capitalize"><a data-toggle="collapse" href="#collapsible1" aria-expanded="false" aria-controls="collapsible1">
            Approval Process</a></h3>
          <div id="collapsible1" class="collapse" aria-labelledby="Approval Process">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr. No</th>
                <th>Type</th>
                <th>Month and Year</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  22
                </td>
                <td>
                  AICTE Approval Process Hand Book
                </td>
                <td>
                  2016 - 2017
                </td>
              </tr>
              <tr>
                <td>
                  21
                </td>
                <td>
                  AICTE Approval Process Hand Book
                </td>
                <td>
                  2015 - 2016
                </td>
              </tr>
              <tr>
                <td>
                  20
                </td>
                <td>
                  Blended learning method of Open and Distance learning (ODL) Mode 2013 - 2014
                </td>
                <td>
                  2013 - 2014
                </td>
              </tr>
              <tr>
                <td>
                  19
                </td>
                <td>
                  AICTE Approval Process Hand Book
                </td>
                <td>
                  2013 - 2014
                </td>
              </tr>
              <tr>
                <td>
                  18
                </td>
                <td>
                  AICTE Approval Process Handbook
                </td>
                <td>
                  2012 - 2013
                </td>
              </tr>
              <tr>
                <td>
                  17
                </td>
                <td>
                  AICTE Approval Process Handbook: Compiled Corrigendum: 10/05/2012
                </td>
                <td>
                  2011 - 2012
                </td>
              </tr>
              <tr>
                <td>
                  16
                </td>
                <td>
                  AICTE Approval Process Handbook
                </td>
                <td>
                  2011 - 2012
                </td>
              </tr>
              <tr>
                <td>
                  15
                </td>
                <td>AICTE Approval Process Handbook</td>
                <td>
                  January 2010
                </td>
              </tr>
              <tr>
                <td>
                  14
                </td>
                <td>
                  Approval Process for Diploma Institutions
                </td>
                <td>
                  2007 - 2008
                </td>
              </tr>
              <tr>
                <td>
                  13
                </td>
                <td>
                  AICTE Approval Process for establishment of new Technical Institutions and introduction of additional courses / increase in intake and extension of approval in existing institutions
                </td>
                <td>
                  January 2008
                </td>
              </tr>
              <tr>
                <td>
                  12
                </td>
                <td>
                  AICTE Approval Process for establishment of new Technical Institutions and introduction of additional courses / increase in intake and extension of approval in existing institutions - (Part II)
                </td>
                <td>
                  December 2006
                </td>
              </tr>
              <tr>
                <td>
                  11
                </td>
                <td>
                  AICTE Approval Process for establishment of new Technical Institutions and introduction of additional courses / increase in intake and extension of approval in existing institutions - (Part I)
                </td>
                <td>
                  December 2006
                </td>
              </tr>
              <tr>
                <td>
                  10
                </td>
                <td>
                  AICTE Approval Process for establishment of new Technical Institutions and introduction of additional courses / increase in intake and extension of approval in existing institutions
                </td>
                <td>
                  2005 - 2006
                </td>
              </tr>
              <tr>
                <td>
                  9
                </td>
                <td>
                  AICTE Approval Process for establishment of new Technical Institutions and introduction of additional courses / increase in intake and extension of approval in existing institutions
                </td>
                <td>
                  December 2005

                </td>
              </tr>
              <tr>
                <td>
                  8
                </td>
                <td>
                  Approval Process Handbook for Post Graduate Programs (ME / M. Tech., M. Arch)
                </td>
                <td>
                  2004 - 2005
                </td>
              </tr>
              <tr>
                <td>
                  7
                </td>
                <td>
                  Approval Process for Establishment of New Technical Institutions and Introduction of Additional Courses, increase in intake / Extension of Approval in Existing Institutions.
                </td>
                <td>
                  2004 - 2005
                </td>
              </tr>
              <tr>
                <td>
                  6
                </td>
                <td>
                  AICTE Approval Process Handbook for MBA/MCA and Degree / Diploma level Courses in Engineering and Technology / Pharmacy / Architecture / Town Planning / Hotel Management and Catering Technology / Applied Arts and Crafts
                </td>
                <td>
                  2003 - 2004
                </td>
              </tr>
              <tr>
              <td >5</td>	<td>AICTE Approval Process Handbook</td><td>	2002</td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  AICTE Approval Process Handbook
                </td>
                <td>
                  December 2000
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  AICTE Gazette Notification Part III
                </td>
                <td>
                  August 2000
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  AICTE Gazette Notification Part II
                </td>
                <td>
                  April 1997
                </td>
              </tr>
              <tr>
                <td>
                  1
                </td>
                <td>
                  AICTE Gazette Notification Part I
                </td>
                <td>
                  October l 1994
                </td>
              </tr>


              </tbody>
            </table>
            <div>
              <a data-toggle="collapse" href="#collapsible1"
                 aria-expanded="false" aria-controls="collapsible1"><i
                class="fa fa-angle-double-up pull-right" aria-hidden="true"
                style="font-size: 2em;"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 white-panel">
          <h2 class="page-header">APPROVALS</h2>
          <div class="align">
            <p>As defined in the AICTE act 1987, Technical Education means programs, of Education, Research, and training in Engineering and Technology, Architecture, Town Planning, Management, Pharmacy, and Applied Arts and Crafts, and such other programs or areas as the Central Government may in consultation with the Council, by notification in the official gazette declare.</p>
            <p><b>Technical Education in India</b> has a history stretching back to the ancient urban centres of learning at Taxila and Nalanda. Western education became ingrained into Indian society with the establishment of the British Raj. Education in India falls under the control of both the Union Government and the states, with some responsibilities lying with the Union and the states having autonomy for others. The various articles of the Indian constitution provide for education as a fundamental right. Most universities in India are Union or State Government controlled.</p>

            <p>India has made a huge progress in terms of increasing primary education attendance rate and expanding literacy to approximately two thirds of the population. India's improved education system is often cited as one of the main contributors to the economic rise of India. Much of the progress in education has been credited to various private institutions. The private education market in India is estimated to be worth $40 billion in 2008 and will increase to $68 billion by 2012.</p>


          </div>

        </div>
      </div>



      <div class="row">
        <div class="col-xs-12 white-panel">
          <h3 class="page-header">PDF</h3>
          <div class="text-center">
            <p><b>Approved Institutions Public Domain 2015-2016</b></p>
            <div class="pdf-font-big">
              <a href="">
                <button type="button" class="btn btn-danger"><span
                  class="pdf-border-right text-capitalize">View Institutions approved in 2015 - 2016 in Public Domain</span>&nbsp;<i
                  class="fa fa-file-pdf-o"
                  aria-hidden="true"></i>
                </button>
              </a>


              <a href="">
                <button type="button" class="btn btn-danger"><span
                  class="pdf-border-right text-capitalize">Help File to View Institutions approved in 2015 - 2016 in Public Domain</span>&nbsp;<i
                  class="fa fa-file-pdf-o"
                  aria-hidden="true"></i>
                </button>
              </a>
              <a href="">
                <button type="button" class="btn btn-danger"><span
                  class="pdf-border-right text-capitalize">List of approved institutes 2015-2016</span>&nbsp;<i
                  class="fa fa-file-pdf-o"
                  aria-hidden="true"></i>
                </button>
              </a>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</main>
