
<main class="container-fluid side-collapse-container">
 Main jumbotron for a primary marketing message or call to action
  <div class="row is-flex">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 white-panel">
      <h3 class="page-header">Col 1</h3>
      <form method="post" class="form-horizontal">
        <div class="form-group">
          <label for="inputName" class="col-sm-3 control-label hidden-xs">Institute Name</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control" id="inputName" placeholder="Institute Name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Institute Type</label>
          <div class="col-sm-9 col-xs-12">
            <label class="radio-inline">
              <input type="radio" name="instituteType" value="government"> Government
            </label>
            <label class="radio-inline">
              <input type="radio" name="instituteType" value="government-aided"> Government - Aided
            </label>
            <label class="radio-inline">
              <input type="radio" name="instituteType" value="unaided-private"> Unaided - Private
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Minority Institute</label>
          <div class="col-sm-9 col-xs-12">
            <label class="radio-inline">
              <input type="radio" name="minorityType" value="yes"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="minorityType" value="no"> No
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Approval Status</label>
          <div class="col-sm-9 col-xs-12">
            <label class="radio-inline">
              <input type="radio" name="AppStatus" value="Approved"> Approved
            </label>
            <label class="radio-inline">
              <input type="radio" name="AppStatus" value="Unapproved"> Unapproved
            </label>
            <label class="radio-inline">
              <input type="radio" name="AppStatus" value="Closed"> Closed
            </label>
          </div>
        </div>
        <label>Year : </label>
        <select name="y">
          <option disabled selected value=""> select an option</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
        </select>
        <br />
        <label>Intake : </label><input type="text" name="intake">
        <br />
        <label>Enrolled : </label><input type="text" name="enrolled">
        <br />
        <label>Passed : </label><input type="text" name="passed">
        <br />
        <label>Placed : </label><input type="text" name="placed">
        <br />
        <br />

        <div class="form-group">
          <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-warning">Save</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="row is-flex">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 white-panel">
      <h3 class="page-header">Col 3</h3>
      <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
      </canvas>
    </div>
  </div>

