<main class="container side-collapse-container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row  white-panel">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0;  width:125%; height:300%" allowfullscreen></iframe>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center">Mumbai</h3>
          <h5>Address:
            AICTE-Western Regional Office,
            Industrial Assurance Bldg.,
            2nd floor, V.N. Road, Churchgate,
            Mumbai – 400 020 Phone: 022-22838502, 022-22821093, 022-22828446
            Fax: 022-22851551
            Mail: wro@aicte-india.org
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row white-panel">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0; width:125%; height:100%" allowfullscreen></iframe>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center"> Chennai</h3>
          <h5>
            Address:
            AICTE – Southern Regional Office,
            ‘Shastri Bhavan’, 26,
            Haddows Road, Nungambakkam,
            Chennai – 600 006 Phone: 044-28279998,044-28275650
            Fax: 044-28255863
            Mail: sro@aicte-india.org
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row  white-panel">
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center">Bengaluru</h3>
          <h5> Address:
            AICTE-South Western Regional
            Office, P.K. Block, Palace Road,
            Bangalore – 560 009 Phone: 080-22205979, 080-22205919, 080-22208407,
            080-22205979
            Fax: 080-22253232
            Mail: swro@aicte-india.org
          </h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0;  width:125%; height:300%" allowfullscreen></iframe>

        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row white-panel">

        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center"> Bhopal</h3>
          <h5>
            Address:
            Central Regional Office,
            All India Council For Technical Education,
            Airport Bypass Road, Gandhi Nagar,
            Bhopal – 462 036 Phone:0755-2744313-16
            Fax: 0755-2744316
            Mail: cro@aicte-india.org / covadodara@aicte-india.org
          </h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0; width:125%; height:100%" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row  white-panel">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0;  width:125%; height:300%" allowfullscreen></iframe>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center">Chandigarh</h3>
          <h5> Address:
            AICTE – North Western
            Regional Office, Building,
            Dakshin Marg,
            Sector 36-A,
            Chandigarh – 160 036 Phone: 0172-2613326,0172-2661201
            Fax: 0172-2660179
            Mail: nwro@aicte-india.org
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row white-panel">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0; width:125%; height:100%" allowfullscreen></iframe>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center"> Kanpur</h3>
          <h5>
            Address:
            AICTE – Northern Regional Office
            Govt. Polytechnic Campus,
            Adjoining Directorate of
            Technical Education, Vikas Nagar,
            Kanpur – 208 002 (UP) Phone: 0512-2585014, 0512-2585012, 0512-2585018
            Fax: 0512-2582180
            Mail: nro@aicte-india.org
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row  white-panel">

        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center">Hyderabad</h3>
          <h5> Address:
            AICTE – South Central
            Regional Office
            ( JNTU Masab Tank Campus),
            Mahaveer Marg,
            Hyderabad – 500 028,
            Andhra Pradesh Phone: 040-23341036, 040-23342118, 040-23345071
            Fax: 040-23340113
            Mail: scro@aicte-india.org
          </h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0;  width:125%; height:300%" allowfullscreen></iframe>

        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row white-panel">

        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center"> Kolkata</h3>
          <h5>
            Address:
            AICTE – Eastern Regional Office
            Govt. College Of Engineering &
            Leather Technology Campus,
            LB Block, Sector – III, Salt Lake City,
            Kolkata – 700 098 Phone: 033-23357459, 033-23352445, 033-23357312, 033-23393089
            Fax: 033-23359546, 033-23357312
            Mail: ero@aicte-india.org
          </h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0; width:125%; height:100%" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row  white-panel">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0;  width:125%; height:300%" allowfullscreen></iframe>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center">Guwahati</h3>
          <h5>Address:
            <p>
              AICTE North East Regional Office Gauhati University,
              Jalukbari Guwahati, Assam 781013 Phone:
              0361-2570104
            </p>
            Mail: coguwahati@aicte-india.org
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row white-panel">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hide-overflow">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.630541685306!2d72.8339324142456!3d19.12385735543756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e125239%3A0x80b8d1fb8ac5aeb9!2sSardar+Patel+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1490160928709"
                  frameborder="0" style="border:0; width:125%; height:100%" allowfullscreen></iframe>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
          <h3 align="center"> Thiruvanthapuram</h3>
          <h5>
            Address:
            College of Engineering,
            Thiruvanthapuram Phone: 0471-695016, 0471-2596363, 0471-2594343, 044-2592323
            Mail: cothiruvananthapuram@aicte-india.org
          </h5>
        </div>
      </div>
    </div>
  </div>


</main>
