<div id="wrapper">
<aicte-navhome></aicte-navhome>
<router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="btn-group  btn-group-sm" role="group" aria-label="...">
        <button type="button" class="btn btn-default ">About Us</button>
        <button type="button" class="btn btn-default">Contact US</button>
        <button type="button" class="btn btn-default">Feedback</button>
        <button type="button" class="btn btn-default ">Help</button>
        <button type="button" class="btn btn-default">Website Policy</button>
        <button type="button" class="btn btn-default">Sitemap</button>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h5 class="logofooter">Company Bio</h5>
        <p class="footerleft">We are a team of college students working on this project like it's our full time
          job. Any amount would help support and continue development on this project and is greatly
          appreciated.</p>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h5 class="white-text">Settings</h5>
        <ul class="footer-ul">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-12">
        <h5 class="social">Connect</h5>
        <ul class="footer-ul">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div style="padding: 40px 10px;" class="footer- right">
        <a href="http://google.com/+">Google+</a>
        <a class="btn btn-social-icon btn-google"
           onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-google']);"><span
          class="fa fa-google"></span></a>
        <a href="http://www.facebook.com/profile.php?id=">Facebook</a>
        <a class="btn btn-social-icon btn-facebook"
           onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span
          class="fa fa-facebook"></span></a>
        <a href="http://twitter.com/">Twitter</a>
        <a class="btn btn-social-icon btn-twitter"
           onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);"><span
          class="fa fa-twitter"></span></a>
      </div>
    </div>
    <div>
      <p style="padding:10px;"></p>
      <p align=center>© Copyright 2017 All India Council for Technical Education</p>
    </div>
  </div>
</footer>
