<header>
  <section id="brand" class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9">
     <a [routerLink]="['']">
      <img src="../assets/images/aicte.png" alt="AICTE" class="img-responsive img-circle"
           style="height:150px;width:150px;padding: 10px">
     </a>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 hidden-xs">
      <h1>All India Council for Technical Education<br/>
        <small>In learning you will teach, and in teaching you will learn</small>
      </h1>
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-3" style="padding: 45px 20px 5px 0">
      <h1>AICTE</h1>
    </div>
  </section>
  <nav id="nav">
    <div class="navbar navbar-default" id="fullNav">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav visible-lg visible-md visible-sm">
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span
          class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['aboutAICTE']">About AICTE</a></li>
            <li><a [routerLink]="['regional_office']">Regional office</a></li>
            <li><a [routerLink]="['faculty']">Faculty</a></li>

          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  class ="btn btn-1 "href="#">Bureaus <span class="caret" ></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['administration_bureau']">Administrative Bureau</a></li>
            <li><a [routerLink]="['academic_bureau']">Academic Bureau</a></li>
            <li><a [routerLink]="['finance_bureau']">Finance Bureau</a></li>
            <li><a [routerLink]="['approvals_bureau']">Approval Bureau</a></li>
            <li><a [routerLink]="['parliament_questions']">Parliament Questions</a></li>
            <li><a [routerLink]="['rifd']">Research,Institutions and faculty development</a></li>

          </ul>

        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Grievance <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['anti_ragging']">Anti Ragging</a></li>
            <li><a [routerLink]="['central_']">RTI</a></li>
            <li><a href="#">CVC</a></li>
            <li><a href="#">Public grievance</a></li>
            <li><a href="#">SC/ST Cell</a></li>
          </ul>

        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Annual Report</a></li>
            <li><a href="#">Committee Report</a></li>
            <li><a href="#">Knowledge Commission Report</a></li>
            <li><a href="#">Sarva Shiksha Abhiyan </a></li>
            <li><a href="#">Rashtiya Uchatar Shiksha Abhiyan - RUSA</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dashboard</a>

        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Education <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Educational Network</a></li>
            <li><a href="#">Collaborations</a></li>
            <li><a href="#">Mobile Education</a></li>
            <li><a href="#">Finishing Schools</a></li>
            <li><a href="#">Vocal Education</a></li>
            <li><a href="#">Community Colleges</a></li>
            <li><a href="#">Distance Education</a></li>
            <li><a href="#">Institutions in India</a></li>
            <li><a href="#">Use of ICT</a></li>
            <li><a href="#">Library Services</a></li>
            <li><a href="#">Project Factory</a></li>
          </ul>

        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Students <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Admission</a></li>
            <li><a href="#">Scholarship</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Ethics</a></li>
            <li><a href="#">Loans</a></li>
            <li><a href="#">Facilities for Differently abled</a></li>
            <li><a href="#">Facilities for Girls</a></li>
            <li><a href="#">Placements</a></li>
            <li><a href="#">Want to be Entrepreneur</a></li>
            <li><a href="#">Research funds</a></li>
            <li><a href="#">Model Syllabus</a></li>
          </ul>

        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bulletin <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Advertisements</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Circulars</a></li>
            <li><a href="#">Tenders</a></li>
            <li><a href="#">Newsletters</a></li>
            <li><a href="#">Photo-gallery</a></li>
            <li><a href="#">Start-Up Policy</a></li>
          </ul>
        </li>
        <li class="visible-sm visible-xs" style="width: 94%;padding: 0 3%;">
          <label class="sr-only">Search</label>
          <form method="POST" style="padding: 0;margin: 0">
            <div class="input-group">
              <label class="sr-only">Search</label>
              <input type="text" name="search" class="form-control" placeholder="Search" aria-describedby="search">
              <span class="input-group-btn"><button class="btn btn-default"><span
                class="glyphicon glyphicon-search"></span></button></span>
            </div>
          </form>
        </li>
      </ul>
      <form method = "post" class="navbar-right navbar-form hidden-sm hidden-xs" style="padding: 0;margin: 0">
        <label class="sr-only">Search</label>
        <input type="text" name = "search" class="form-control" placeholder="Search" aria-describedby="search">
        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
        <button class="navmenu-brand">X</button>
        <form style="padding: 5%;margin: 0">
          <div class="input-group">
            <label class="sr-only">Search</label>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="search">
            <span class="input-group-btn"><button class="btn btn-default"><span
              class="glyphicon glyphicon-search"></span></button></span>
          </div>
        </form>
        <div class="nav navmenu-nav">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseOne"
                     aria-expanded="false" aria-controls="collapseOne">
                    About Us
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                   aria-labelledby="headingOne">
                <ul class="list-group">
                  <li><a [routerLink]="['aboutAICTE']">About AICTE</a></li>
                  <li><a [routerLink]="['regional_office']">Regional office</a></li>
                  <li><a [routerLink]="['faculty']">Faculty</a></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseTwo"
                     aria-expanded="false" aria-controls="collapseTwo">
                    Bureau
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                   aria-labelledby="headingTwo">
                <ul class="list-group">
                  <li><a href="#">Administrative Bureau</a></li>
                  <li><a href="#">Academic Bureau</a></li>
                  <li><a href="#">Finance Bureau</a></li>
                  <li><a href="#">Approval Bureau</a></li>
                  <li><a href="#">Parliament Questions</a></li>
                  <li><a href="#">Research,Institutions and faculty development</a></li>

                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseThree"
                     aria-expanded="false" aria-controls="collapseThree">
                    Grievances
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                   aria-labelledby="headingThree">
                <ul class="list-group">
                  <li><a href="#">Anti Ragging</a></li>
                  <li><a href="#">RTI</a></li>
                  <li><a href="#">CVC</a></li>
                  <li><a href="#">Public grievance</a></li>
                  <li><a href="#">SC/ST Cell</a></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseFour"
                     aria-expanded="false" aria-controls="collapseFour">
                    Reports
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                   aria-labelledby="headingFour">
                <ul class="list-group">
                  <li><a href="#">Annual Report</a></li>
                  <li><a href="#">Committee Report</a></li>
                  <li><a href="#">Knowledge Commission Report</a></li>
                  <li><a href="#">Sarva Shiksha Abhiyan </a></li>
                  <li><a href="#">Rashtiya Uchatar Shiksha Abhiyan - RUSA</a></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a role="button">
                    Dashboard
                  </a>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseFive"
                     aria-expanded="false" aria-controls="collapseThree">
                    Education
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                   aria-labelledby="headingFive">
                <ul class="list-group">
                  <li><a href="#">Educational Network</a></li>
                  <li><a href="#">Collaborations</a></li>
                  <li><a href="#">Mobile Education</a></li>
                  <li><a href="#">Finishing Schools</a></li>
                  <li><a href="#">Vocal Education</a></li>
                  <li><a href="#">Community Colleges</a></li>
                  <li><a href="#">Distance Education</a></li>
                  <li><a href="#">Institutions in India</a></li>
                  <li><a href="#">Use of ICT</a></li>
                  <li><a href="#">Library Services</a></li>
                  <li><a href="#">Project Factory</a></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseSix"
                     aria-expanded="false" aria-controls="collapseSix">
                    Students
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                   aria-labelledby="headingSix">
                <ul class="list-group">
                  <li><a href="#">Admission</a></li>
                  <li><a href="#">Scholarship</a></li>
                  <li><a href="#">Awards</a></li>
                  <li><a href="#">Ethics</a></li>
                  <li><a href="#">Loans</a></li>
                  <li><a href="#">Facilities for Differently abled</a></li>
                  <li><a href="#">Facilities for Girls</a></li>
                  <li><a href="#">Placements</a></li>
                  <li><a href="#">Want to be Entrepreneur</a></li>
                  <li><a href="#">Research funds</a></li>
                  <li><a href="#">Model Syllabus</a></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseSeven"
                     aria-expanded="false" aria-controls="collapseSeven">
                    Bulletin
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                   aria-labelledby="headingSeven">
                <ul class="list-group">
                  <li><a href="#">Advertisements</a></li>
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Circulars</a></li>
                  <li><a href="#">Tenders</a></li>
                  <li><a href="#">Newsletters</a></li>
                  <li><a href="#">Photo-gallery</a></li>
                  <li><a href="#">Start-Up Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>
