<main class="container-fluid side-collapse-container">
        <!--Modal for 'more' content-->
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ data[0].text[0].header }}</h4>
                    </div>
                    <div class="modal-body" [innerHTML]="data[0].text[0].body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!--Main jumbotron for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 white-panel border-pull-left">
                                <h3 class="page-header">{{ data[1].text[0].header }}</h3>
                              <div [innerHTML]="data[1].text[0].body"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 white-panel border-pull-left">
                                <h1><img src="../../assets/images/police.png" aria-hidden="true"
                                         class="img-responsive img-centered">{{ data[2].text[0].header }}</h1>
                                <h3 class="page-header"></h3>
                              <div [innerHTML]="data[2].text[0].body"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 white-panel border-push-top border-pull-left border-pull-right">
                        <h3 class="page-header">{{ data[3].text[0].header }}</h3>
                        <div [innerHTML]="data[3].text[0].body"></div>
                        <p class="text-center"><a href="" data-toggle="modal" data-target="#myModal">More...</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 white-panel border-pull-right">
                        <div>
                            <img src="../../assets/images/off_proc.png" alt="Executive Committee"
                                 style="width: 50%;height: 177px;" class="img-centered">
                        </div>
                        <h3 class="page-header">{{ data[4].text[0].header }}</h3>
                      <div [innerHTML]="data[4].text[0].body"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12 white-panel border-pull-left border-push-top">
                        <h1 class="text-center"><i class="fa fa-gavel"></i></h1>
                        <h3 class="page-header">{{ data[5].text[0].header }}</h3>
                      <div [innerHTML]="data[5].text[0].body"></div>
                    </div>
                </div>
                <div class="row white-panel-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 white-panel border-pull-left">
                        <h3 class="page-header">{{ data[6].text[0].header }}</h3>
                      <div [innerHTML]="data[6].text[0].body"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
