<main class="container">
  <!--Main jumbotron for a primary marketing message or call to action -->
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xs-12 white-panel">
          <h3 class="page-header">{{x}}</h3>
          dolor sit amet, consectetur adipiscing elit. Mauris dapibus suscipit egestas. Sed pellentesque
          nibh et
          tincidunt viverra. Morbi convallis, sem quis vehicula facilisis, nibh lectus commodo nulla, eu
          tincidunt
          dui velit sit amet nisl. Mauris a facilisis felis, id fringilla enim. Vestibulum tincidunt arcu
          commodo,
          vulputate felis id, ultrices nunc. In eu facilisis odio. Aliquam erat volutpat. Nulla id dapibus
          neque.
          Sed pretium massa ante, nec auctor ligula gravida id. Aliquam consectetur tellus eu pellentesque
          vehicula. Aliquam posuere ullamcorper ante porttitor lacinia. Proin tellus lorem, luctus nec
          facilisis
          placerat, placerat eget tellus. Maecenas accumsan ornare lacus, volutpat fringilla leo rhoncus
          eu. Nulla
          libero nisi, auctor sit amet arcu sit amet, sagittis pretium neque. Duis at elit gravida lectus
          gravida
          tincidunt.dolor sit amet, consectetur adipiscing elit. Mauris dapibus suscipit egestas. Sed
          pellentesque
          nibh et tincidunt viverra.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 white-panel">
          <h3 class="page-header">PDF</h3>
          dolor sit amet, consectetur adipiscing elit. Mauris dapibus suscipit egestas. Sed pellentesque
          nibh et
          tincidunt viverra. Morbi convallis, sem quis vehicula facilisis, nibh lectus commodo nulla, eu
          tincidunt
          dui velit sit amet nisl. Mauris a facilisis felis, id fringilla enim. Vestibulum tincidunt arcu
          commodo,
          vulputate felis id, ultrices nunc. In eu facilisis odio. Aliquam erat volutpat. Nulla id dapibus
          neque.
          Sed pretium massa ante, nec auctor ligula gravida id. Aliquam consectetur tellus eu pellentesque
          vehicula. Aliquam posuere ullamcorper ante porttitor lacinia. Proin tellus lorem, luctus nec
          facilisis
          placerat, placerat eget tellus. Maecenas accumsan ornare lacus, volutpat fringilla leo rhoncus
          eu. Nulla
          libero nisi, auctor sit amet arcu sit amet, sagittis pretium neque. Duis at elit gravida lectus
          gravida
          tincidunt.dolor sit amet, consectetur adipiscing elit. Mauris dapibus suscipit egestas. Sed
          pellentesque
          nibh et tincidunt viverra.
        </div>
      </div>
    </div>
  </div>
</main>

